<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />  
    </startup>
    <appSettings>
        <add key="SEARCH_PATH" value="c:/temp/"/>    
        <add key="SEARCH_KEYWORD_FILEPATH" value="c:/temp/Config/CodeScan_Keywords.txt" />
        <add key="SEARCH_RESULT_FILEPATH" value="c:/temp/results/CodeScan_Results.csv" />
        <add key="CODESCAN_FILE_EXTENSIONS" value=".TXT,.CS" />
    </appSettings>
</configuration>